<div class="container mx-auto px-4 py-8">
    <div class="mb-5 text-[18px] font-[600]">
        <h1>Historique des achats</h1>
        <hr>
    </div>

    <div class="mt-10">
        <% if @purchased_resources.any? %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom de la ressource</th>
                    <th>Prix</th>
                    <th>Date d'achat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @purchased_resources.each do |purchase| %>
                <tr>
                    <td><%= purchase.id %></td>
                    <td><%= purchase.resource.name %></td>
                    <td><%= number_to_currency(purchase.price_paid) %></td>
                    <td><%= purchase.purchased_at.strftime('%d/%m/%Y %H:%M') %></td>
                    <td>
                        <% if purchase.resource.link_url.present? && purchase.resource.resource_type == "t" %>
                        <%= link_to "Accéder à la ressource", purchase.resource.link_url, 
                    target: "_blank", 
                    class: "px-4 py-2 text-white bg-[#003169] hover:bg-[#005278] rounded-md text-sm font-medium" %>
                        <% elsif purchase.resource.resource_type == "f" %>
                        <%= link_to "Télécharger le fichier", purchase.resource.link_url, 
                    class: "px-4 py-2 text-white bg-[#4C4C4C] hover:bg-[#6E6E6E] rounded-md text-sm font-medium", 
                    download: true %>
                        <% else %>
                        <span>Aucune action disponible</span>
                        <% end %>
                    </td>

                </tr>
                <% end %>
            </tbody>
        </table>
        <% else %>
        <p>Aucun achat effectué.</p>
        <% end %>
    </div>

</div>

</div>